doctype html
html
	head
		title Home
	body
		include navbar.pug
		h2 This is a blog paradise. 
		h3 Use the navigation to read the blogs of others, comment on their posts and create your own blog posts.